@import "compass";
@import "/internalM/publicAsset/field";

//右侧列表
.pusher{
  width: 80%;
}

//分页
.page{
  justify-content: center;
  display: flex;
}

//文章模块
.articleModal{
  .myArticleList{
    min-height: 500px;
  }

  @at-root .articleDetal{
    .editSubjectgroup{
      margin-top: pxTorem(15px) !important;
      justify-content: center;
    }

    .ctrlArea{
      text-align: center;
    }

  }

}

//评论模块
.commentModal{
  .items{
    min-height: 500px;
  }

}

//截取图片对话框
#cropModal{

  .jcrop-holder {
    margin: 0 auto;
  }

}
