<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="/inlinePart/head.html?__inline"/>
    <title>管理</title>
</head>
<body ms-controller="adminModal">
    <div class="ui bottom attached segment pushable">
        <div class="ui visible inverted left vertical sidebar menu">
            <a class="item" ms-class="{{currentTab=='article' ? 'active' : ''}}" ms-click="changeTab('article')">
                文章管理
            </a>
            <a class="item" ms-class="{{currentTab=='label' ? 'active' : ''}}" ms-click="changeTab('label')">
                文章标签管理
            </a>
            <a class="item" ms-class="{{currentTab=='data' ? 'active' : ''}}" ms-click="changeTab('data')">
                数据查看
            </a>
            <a class="item" ms-class="{{currentTab=='comment' ? 'active' : ''}}" ms-click="changeTab('comment')">
                评论管理
            </a>
            <a class="item" ms-class="{{currentTab=='master' ? 'active' : ''}}" ms-click="changeTab('master')">
                我的信息管理
            </a>
        </div>

        <div class="pusher">
            <!-- 文章管理-->
            <div class="ui basic segment articleModal" ms-if="currentTab == 'article'" ms-controller="articleModal">
                <h3 class="ui header">文章管理</h3>
                <div class="articleList"  ms-visible="!isBlogModal">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>关键字搜索</label>
                                <input placeholder="Keyword" type="text">
                            </div>
                            <div class="field">
                                <label>分类搜索</label>
                                <select class="ui dropdown">
                                    <option value="">subject</option>
                                    <option value="1">分类1</option>
                                    <option value="2">分类2</option>
                                    <option value="3">分类3</option>
                                    <option value="4">分类4</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <div class="ui buttons">
                                    <button class="ui green button">搜索</button>
                                    <div class="or"></div>
                                    <button class="ui blue button" ms-click="newBlog">写新blog</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui items myArticleList">
                        <div class="item">
                            <div class="ui tiny image">
                                <img src="http://semantic-ui.com/images/wireframe/image.png">
                            </div>
                            <div class="content">
                                <div class="header">12 Years a Slave</div>
                                <div class="description">
                                    <div class="ui buttons">
                                        <button class="ui blue button" ms-click="editBlog">编辑</button>
                                        <button class="ui red button">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 分页菜单 -->
                    <div class="page">
                        <div class="ui pagination menu">
                            <a class="icon item">
                                <i class="left arrow icon"></i>
                            </a>
                            <a class="active item">
                                1
                            </a>
                            <a class="item">
                                2
                            </a>
                            <a class="item">
                                3
                            </a>
                            <a class="item">
                                4
                            </a>
                            <a class="item">
                                5
                            </a>
                            <a class="icon item">
                                <i class="right arrow icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--文章详情-->
                <div class="articleDetal" ms-visible="isBlogModal">
                    <textarea id="editor" placeholder="文章内容" autofocus></textarea>
                    <div class="ctrlArea">
                        <div class="ui form">
                            <div class="inline fields editSubjectgroup">
                                <div class="field ">
                                    <label>设置分类:</label>
                                    <select class="ui dropdown">
                                        <option value="">subject</option>
                                        <option value="1">分类1</option>
                                        <option value="2">分类2</option>
                                        <option value="3">分类3</option>
                                        <option value="4">分类4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ui buttons editBtgroup">
                            <button ms-click="cancleEdit" class="ui grey button">取消</button>
                            <button class="ui green button">保存</button>
                            <button class="ui red button">删除</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 文章标签管理-->
            <div class="ui basic segment" ms-if="currentTab == 'label'"  ms-controller="labelModal">
                <h3 class="ui header">文章标签管理</h3>
                <div class="ui items">
                    <div class="item">
                        <div class="content">
                            <div class="header">12 Years a Slave</div>
                            <div class="description">
                                <div class="ui buttons">
                                    <button class="ui blue button" ms-click="editLabel">编辑</button>
                                    <button class="ui red button" ms-click="delLabel">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 数据查看-->
            <div class="ui basic segment" ms-if="currentTab == 'data'"  ms-controller="dataModal">
                <h3 class="ui header">数据查看</h3>
                <h4>站点统计</h4>
                <div class="ui three statistics">
                    <div class="red statistic">
                        <div class="value">2,204 </div>
                        <div class="label">浏览次数 </div>
                    </div>
                    <div class="orange statistic">
                        <div class="value">2,204 </div>
                        <div class="label">用户人数 </div>
                    </div>
                    <div class="yellow statistic">
                        <div class="value">2,204 </div>
                        <div class="label">评论次数 </div>
                    </div>
                </div>

                <h4>文章统计</h4>
                <div class="ui accordion">
                    <div class="title"><i class="dropdown icon"></i>标签1 </div>
                    <div class="content">
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>标签1 </div>
                    <div class="content">
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>标签1 </div>
                    <div class="content">
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>标签1 </div>
                    <div class="content">
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                        <p class="transition hidden">文章a</p>
                        <div class="ui two statistics">
                            <div class="olive statistic">
                                <div class="value">2,204 </div>
                                <div class="label">浏览次数 </div>
                            </div>
                            <div class="blue statistic">
                                <div class="value">2,204 </div>
                                <div class="label">评论次数 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 评论管理-->
            <div class="ui basic segment commentModal" ms-if="currentTab == 'comment'"  ms-controller="commentModal">
                <div class="articleList" ms-visible="isArticleList">
                    <h3 class="ui header">评论管理</h3>
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>分类搜索</label>
                                <select class="ui dropdown">
                                    <option value="">subject</option>
                                    <option value="1">分类1</option>
                                    <option value="2">分类2</option>
                                    <option value="3">分类3</option>
                                    <option value="4">分类4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <div class="header">12 Years a Slave</div>
                                <div class="description">
                                    <button class="ui blue button" ms-click="changeToComment">管理评论</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 分页菜单 -->
                    <div class="page">
                        <div class="ui pagination menu">
                            <a class="icon item">
                                <i class="left arrow icon"></i>
                            </a>
                            <a class="active item">
                                1
                            </a>
                            <a class="item">
                                2
                            </a>
                            <a class="item">
                                3
                            </a>
                            <a class="item">
                                4
                            </a>
                            <a class="item">
                                5
                            </a>
                            <a class="icon item">
                                <i class="right arrow icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="commentArea" ms-visible="!isArticleList">
                    <button class="ui left labeled icon button" ms-click="changeToArticle"><i class="left arrow icon"></i> 取消评论 </button>
                    <div class="ui comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">今天下午 5:42</span>
                                </div>
                                <div class="text">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">昨天上午12:30</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">刚刚</span>
                                        </div>
                                        <div class="text">Elliot you are always so right :) </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 天以前</span>
                                </div>
                                <div class="text">老兄，这太棒了。非常感谢。 </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui horizontal divider">New Comment </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Reply </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 我的信息管理-->
            <div class="ui basic segment" ms-if="currentTab == 'master'">
                <h3 class="ui header">我的信息管理</h3>
                <div class="ui horizontal divider">我的名字 </div>
                <form class="ui form">
                    <div class="field">
                        <input name="mastname" type="text">
                    </div>
                    <button class="ui button">Submit</button>
                </form>
                <div class="ui horizontal divider">简介 </div>
                <form class="ui form">
                    <div class="field">
                        <input name="description" type="text" >
                    </div>
                    <button class="ui button">Submit</button>
                </form>
                <div class="ui horizontal divider">连接 </div>
                <form class="ui form">
                    <div class="field" data-name="weibo">
                        <div class="two fields">
                            <div class="field">
                                <input name="linkName" placeholder="连接名" type="text">
                            </div>
                            <div class="field">
                                <input name="linkAddr" placeholder="连接地址" type="text">
                            </div>
                        </div>
                    </div>
                    <button class="ui button">New</button>
                    <button class="ui button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/internalM/admin/admin.js"></script>

</body>
</html>