<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="/inlinePart/head.html?__inline"/>
    <title>管理员登录</title>
</head>
<body>
    <p style="color: red"><%= info %></p>
    <form method="post" action="/admin/login">
        用户名：<input type="text" name="username"/>
        密码：<input type="password" name="password"/>
        <input type="submit" value="管理员登录"/>
    </form>

</body>
</html>